USE [master]
GO
/****** Object:  Database [QuanLyDiem]    Script Date: 7/3/2020 4:26:39 PM ******/
CREATE DATABASE [QuanLyDiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyDiem.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyDiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyDiem_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDiem]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/3/2020 4:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[RN] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NULL,
	[Gender] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentSubject]    Script Date: 7/3/2020 4:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubject](
	[RN] [int] NOT NULL,
	[SID] [int] NOT NULL,
	[Mark] [float] NOT NULL,
	[Date] [date] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/3/2020 4:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[sID] [int] NOT NULL,
	[sName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[sID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Top3]    Script Date: 7/3/2020 4:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Top3](
	[Rank] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Mark] [float] NULL,
	[sName] [varchar](50) NULL,
	[Date] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[StudentInfo]    Script Date: 7/3/2020 4:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StudentInfo] AS
SELECT ss.RN, ss.sID, st.Name, (CASE st.Gender 
								WHEN 0 THEN 'Male'
								WHEN 1 THEN 'Female'
								ELSE 'Unknoew'
								END) AS Gender, sj.sName, ss.Mark, ss.Date
FROM Student st JOIN StudentSubject ss ON st.RN = ss.RN
				JOIN Subject sj ON ss.sID = sj.sID
GO
ALTER TABLE [dbo].[StudentSubject]  WITH CHECK ADD FOREIGN KEY([RN])
REFERENCES [dbo].[Student] ([RN])
GO
ALTER TABLE [dbo].[StudentSubject]  WITH CHECK ADD FOREIGN KEY([SID])
REFERENCES [dbo].[Subject] ([sID])
GO
/****** Object:  StoredProcedure [dbo].[Xoa_ThongTin]    Script Date: 7/3/2020 4:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Xoa_ThongTin](@Ten NVARCHAR(50), @Diem FLOAT)
AS
BEGIN
	IF @Ten ='*'
	BEGIN
		DELETE StudentSubject 
		WHERE Mark < @Diem AND RN NOT IN (SELECT RN FROM dbo.Top3)
		
		END
	
	ELSE
	BEGIN
		DELETE StudentSubject 
		WHERE  RN IN (SELECT st.RN FROM Student st
						 JOIN StudentSubject ss ON st.RN = ss.RN
						 WHERE st.Name = @Ten AND ss.Mark < @Diem) AND RN NOT IN (SELECT RN FROM dbo.Top3)
		
	END
END
GO
USE [master]
GO
